.Banner{
    width: 100%;
    height: 450px;
    background-image: url(/images/backBanner.jpg);
    background-size: 100%;
    background-position-y: 30%;
    text-align: center;
}

.Banner .Image{
    width: 580px;
    text-align: center;
}