.ContainerMenu{
    float: left;
    width: 100%;
    padding: 5px;
    background: black;
}

.ContainerMenu .logo{
    float: left;
}
.ContainerMenu .logo img{
    width: 40px;
    padding: 0 70px;
}
.ContainerMenu .links{
    position: relative;
    float: right;
    padding: 15px 70px 0 0;
    font-weight: 500;

}
.ContainerMenu .links .option{
    padding: 0 10px;
    color: white;
    text-decoration: none;
}
.ContainerMenu .links .option:hover{
    color: #1BAC91;
}

